# === BANCO DE DADOS ===
DB_HOST=host
DB_USER=user
DB_PASSWORD="password"
DB_PORT=port
DB_NAME=name

# === Reconhecimento Facial ===
FACIAL_THRESHOLD=threshold

# === Vagas ===
LAPLACIAN_THRESHOLD=threshold

# === Portaria da Entrada ===
PE_FACE_CAM=cam
PE_PLATE_CAM=cam

# === Portaria de Saida ===
PS_FACE_CAM=cam
PS_PLATE_CAM=cam

# === Estacionamento ===
PM_PARK_CAM=cam

# === MQTT ===
MQTT_PORT=port
MQTT_IP=ip
MQTT_HOST=host
MQTT_PASSWORD=password
MQTT_TIMEOUT=timeout